
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <%= image_tag('image_text_home.png', alt: 'Leilão de Estoque') %>
      </div>
    </div>
    <div class="col">
      <div class="container shadow p-2 mb-3 bg-body-tertiary rounded div-max-width">
        <h5 class="text-center">Lotes</h5>
      </div>
      <div class="container shadow bg-body-tertiary rounded div-max-width mb-4">
        <h5 class="text-center">Aprovados - em andamento</h5>
      </div>
      <div class="container div-max-width  mb-4">
        <% if @approved_in_progress_lots.any? %>
          <table class="table table-striped table-hover">
            <thead>
              <tr class="text-center">
                <th>Código</th>
                <th>Data inicial</th>
                <th>Data limite</th>
                <th>Lance mínimo</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <% @approved_in_progress_lots.each do |lot| %>
                <tr class="text-center">
                  <td><%= lot.code %></td>
                  <td><%= I18n.localize(lot.start_date.to_date) %></td>
                  <td><%= I18n.localize(lot.limit_date.to_date) %></td>
                  <td><%= lot.minimum_bid %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="text-center">Não existem lotes no momento.</p>
        <% end %>
      </div>

      <div class="container shadow bg-body-tertiary rounded div-max-width mb-4">
        <h5 class="text-center">Aprovados - futuros</h5>
      </div>
      <div class="container div-max-width mb-4">
        <% if @approved_future_lots.any? %>
          <table class="table table-striped table-hover">
            <thead>
              <tr class="text-center">
                <th>Código</th>
                <th>Data inicial</th>
                <th>Data limite</th>
                <th>Lance mínimo</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <% @approved_future_lots.each do |lot| %>
                <tr class="text-center">
                  <td><%= lot.code %></td>
                  <td><%= I18n.localize(lot.start_date.to_date) %></td>
                  <td><%= I18n.localize(lot.limit_date.to_date) %></td>
                  <td><%= lot.minimum_bid %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="text-center">Não existem lotes no momento.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
