<div class="container text-center text-danger div-max-width">
  <% if @lot.errors.any? %>
    <dl>
      <% @lot.errors.full_messages.each do |msg| %>
        <dt><%= msg %></dt>
      <% end %>
    </dl>
  <% end %>
</div>

<div class="container shadow p-2 mb-4 bg-body-tertiary rounded div-max-width">
  <h5 class="text-center">Cadastrar Lote</h5>
</div>
<div class="container div-max-width">
  <%= form_with(model: @lot) do |f| %>
    <div class="mb-3">
      <%= f.label :code %>
      <%= f.text_field :code, class: 'form-control mb-2'  %>
    </div>
    <div class="mb-3">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, class: 'form-control mb-2' %>
    </div>
    <div class="mb-3">
      <%= f.label :limit_date %>
      <%= f.date_field :limit_date, class: 'form-control mb-2' %>
    </div>
    <div class="mb-3">
      <%= f.label :minimum_bid %>
      <%= f.number_field :minimum_bid, class: 'form-control mb-2'  %>
    </div>
    <div class="mb-3">
      <%= f.label :minimum_difference_bids %>
      <%= f.number_field :minimum_difference_bids , class: 'form-control mb-2' %>
    </div>
    <div class="mb-3">
      <%= f.submit 'Salvar', class: 'btn btn-secondary  mt-2' %>
    </div>
  <% end %>
</div>