<!DOCTYPE html>
<html>
  <head>
    <title>Leilão de Estoque</title>
    <%= favicon_link_tag('fiveconL.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg text-bg-secondary">
        <div class="container-fluid">
        <%= link_to image_tag("image_text_white_border.png", class: "img-size navbar-brand rounded-circle mx-auto d-block"), root_path %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link active text-light" %>
              </li>
              <% if user_signed_in? && current_user.admin? %>
                <li class="nav-item">
                  <%= link_to "Cadastrar Categoria", new_category_path, class: "nav-link text-light" %>
                </li>
              <% end %>
            </ul>
            <div class="ml-auto d-flex">
              <% if user_signed_in? %>
                <%= current_user.perfil %> - 
                <%= current_user.name %> - <%= current_user.email %> 
                <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "ms-4 btn btn-light btn-sm" %>
              <% else %>
                  <%= link_to 'Entrar', new_user_session_path, class: "nav-link text-light" %> 
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container mt-4">
        <div class="text-danger text-center"><%= alert %></div>
        <div class="text-success text-center"><%= notice %></div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
